body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

header {
  background-color: #ff0066;
  color: white;
  padding: 20px;
}

.post {
  background-color: white;
  margin: 20px auto;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
}

.post img {
  width: 100%;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ff0066;
  color: white;
  cursor: pointer;
}
